body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url("subtle-prism-triangle-pattern.jpg");
}

header {
    background-color: #36bead;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    font-size: larger;
}

h1 {
    margin: 0;
    font-size: 32px;
    letter-spacing: 2px;
}

nav {
    background-color: #13a592;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #63e0be, #36bead);
}

h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
}

ul {
    padding-left: 20px;
}

footer {
    background-color: #13a592;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

nav {
    background-color: #13a592;
    text-align: center;
    padding: 20px 0; /* Adjust the top and bottom padding */
    margin-bottom: 20px; /* Add margin-bottom */
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px); /* Adjust the height */
    background: linear-gradient(to bottom right, #63e0be, #36bead);
    margin-top: 20px; /* Add margin-top */
}

.about-image {
    flex: 2;
    text-align: right;
}

.about-image img {
    max-width: 500px; /* Adjust the desired width */
    height: auto;
}

.about-content {
    flex: 3;
    text-align: left;
    padding-right: 20px; /* Adjust the desired right padding */
}

.about-content h2 {
    font-size: 50px; /* Adjust the desired font size */
}

.about-content p {
    font-size: 18px; /* Adjust the desired font size */
}

.skills-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px); /* Adjust the height */
    background: linear-gradient(to bottom right, #63e0be, #36bead);
    margin-top: 20px; /* Add margin-top */
}

.skills-text {
    flex: 1 1 100%;
    text-align: left;
}

.skills-text p {
    font-size: 18px;
    margin-bottom: 20px;
}
.skills-content h2 {
    font-size: 50px; /* Adjust the desired font size */
}

.photos {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 60px;
    margin-top: -70px;

}

.photos img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}
.project-content {
    display: flex;
    flex-wrap: wrap;
}

.project-description {
    flex: 1;
    text-align: left;
}

.project-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 80px;
}

.project-images img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}
.contact-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contact-icons a span {
    margin-right: 10px;
}

.contact-icons a .contact-text {
    color: black;
    text-decoration: none;
}
